* {
    margin: 0;
    padding: 0;
}

a {  
    color: hsl(210, 95%, 57%);
    text-shadow: 0 0 4px hsl(210, 95%, 57%);
}

body {
    background: hsl(154 50% 5%);
    color: hsl(154 84% 70%);
    text-shadow: 0 0 4px hsl(154 84% 70%);
    font-family: monospace;
    font-size: 1rem;
}

.terminal { 
    display: table;
    margin: auto;
    margin-top: 2em;
    width: 90vw;
}

.line {
    margin-bottom: 1.25em;
    margin-top: 1.25em;
}


.command-input {
 width: 100%;
 border: none;
}

.hello {
    display: table;     
    margin: 0 auto 1.25em;            
    white-space: pre;               
    font-size: 1rem;
}

.username {
    margin-right: 5px;
}

.error {
    margin-top: 0.625em;
    margin-bottom: 0.625em;
    color: hsl(0, 84%, 49%);
    text-shadow: 0 0 4px hsl(0, 84%, 49%);
}

.help-msg {
    margin-top: 0.625em;
    margin-bottom: 0.625em;
    color: hsl(45, 84%, 49%);
    text-shadow: 0 0 4px hsl(45, 84%, 49%);
}

#whoami {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    margin: 1.25em 0; 
}


#data {
    display: block;   
    white-space: pre;
    font-size: 10px; 
    line-height: 1.2;
    align-items: center;
    max-width: 40vw;
    flex-shrink: 1;
}

.glare {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: radial-gradient(hsl(154 5% 15%) 0%, hsl(154 50% 5%) 70%);
}

@keyframes lines {
    0% {background-position: 0px 0px}
    50% {background-position: 0px 0px}
    51% {background-position: 0px 2px}
    100% {background-position: 0px 2px}
}

#interlaced {
    position: fixed;
    background: repeating-linear-gradient(transparent 0px 1px, hsl(154 0% 0%/.3) 3px 4px);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    pointer-events: none;
    animation: lines 0.06666666s linear infinite;
}

@keyframes blink {
    0% {opacity: 0}
    30% {opacity: 1}
    70% {opacity: 1}
    100% {opacity: 0}
}

#blink {
    animation: blink 0.4s linear infinite;
}




.info-terminal {
    padding: 1.875em;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;  
    margin: 0 auto 1.25em;            
    border: 1px solid currentColor;
    box-shadow: inset 0 0 8px currentColor,  0 0 4px currentColor;        
    background: transparent; 
    width: 80%;
    gap: 1.25em;
  }

#face {
  width: 10.5em;
  height: 15em;
  border: 1px solid currentColor;
  box-shadow: inset 0 0 8px currentColor,  0 0 4px currentColor;        
  background-color: currentColor; 
  position: relative;
  overflow: hidden;
}

#face-img {
  width:100%;
  height: 100%;
  mix-blend-mode: multiply;
}

#item-div {
  display: flex;
  justify-content: left;
  flex-direction: column;
  gap: 0.45em;        
}


  
  td,th {
    text-align: left;
    padding-bottom: 0.625em;
  }

  .bullet{
    font-weight: bold;
    margin-right: 0.25em;
  }

  .normal-table  {
    box-shadow:
    inset 0 0 8px currentColor,0 0 4px currentColor;  
    border-collapse: collapse;
    display: table;
    margin: 0 auto 1.25em;            
    white-space: pre;
    border:1px solid  hsl(154 84% 70%);
    padding: 0.625em;
  }

  .normal-table th , .normal-table td{
    box-shadow:
    inset 0 0 8px currentColor,0 0 4px currentColor;  
    border:1px solid  hsl(154 84% 70%);
    padding: 0.625em;
  }


  .wrap-text {
    max-width: 55ch;          
    white-space: normal;      
    overflow-wrap: break-word; 
    word-break: break-word;
  }

  button {
    background: transparent;
    color: hsl(154 84% 70%);
    border: 1px solid currentColor;
    box-shadow: inset 0 0 8px currentColor,  0 0 4px currentColor;    
    padding: 5px; 
    border-radius: 2px;
  }

  button:hover {
    cursor: pointer;
  }

  .clickable-row:hover {
    cursor: pointer;
    background-color: hsl(156, 52%, 11%); ;
  }
  
  @media only screen and (max-width: 768px) {


    body {
      font-size: 0.5rem;
    }

    .terminal { 
      padding-bottom: 25em;
  }
  

    .hello{
     font-size: 0.5rem;
    }


    .wrap-text {
      max-width: 45ch;          
    }

    td,tr {
      font-size: 0.48rem;
    }

    .info-terminal {
      font-size: 0.32rem;
    }

  }

